<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meu Formulário</title>
</head>
<body>
<h2>Formulário</h2>
<form action="/processarFormulario" method="post" th:object="${formulario}">
    <label for="campo1">Campo 1:</label>
    <input type="text" id="campo1" name="campo1" th:field="*{campo1}" />

    <label for="campo2">Campo 2:</label>
    <input type="text" id="campo2" name="campo2" th:field="*{campo2}" />

    <button type="submit">Enviar</button>
</form>
</body>
</html>